@use '/src/style/utils/mixins' as mixins;

.BackToHomeButton {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 104px;
  height: 32px;
  background-color: var(--color-blue-dark);
  border-radius: 3px;

  .icon {
    width: 16px;
    fill: var(--color-white);
  }

  .text {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-white);
  }

  @include mixins.minTablet {
    width: 136px;
    height: 40px;
    padding-right: 8px;

    .icon {
      width: 20px;
    }

    .text {
      margin-top: 0;
      font-size: 16px;
    }
  }
}