@import '../../assets//styles/config';

.BackToHomeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 32px;
  background-color: $dark-darkBlue;
  border-radius: 3px;

  .icon {
    fill: $white;
    width: 18px;
    margin-right: 6px;
  }

  .text {
    margin-bottom: -2px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: $white;
  }

  /* LIGHT THEME */
  &.light {
    background-color: $white;
    box-shadow: 0 0 5px 2px $shadow;

    .icon { fill: $light-veryDarkBlue; }

    .text { color: $light-veryDarkBlue; }
  }

  @include responsiveMedium {
    width: 136px;
    height: 40px;

    .icon { margin-right: 10px; }

    .text { font-size: 16px; }
  }
}