html * {
  box-sizing: border-box;
  margin: 0;
  -webkit-tap-highlight-color: $transparent;
}

html,
body {
  min-width: 320px;
  min-height: 100vh;
}

// body { padding-top: $headerHeight; }

:root {
  --scrollbar-width: calc(100vw - 100%);
  font-family: 'Nunito-Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: $white;
  background-color: $dark-veryDarkBlue;
}

img,
figure {
  max-width: 100%;
  height: auto;
}

a {
  color: $white;
  text-decoration: none;
}