@import '../../assets/styles/config';

.SearchCountry {
  display: flex;
  height: 48px;
  overflow: hidden;
  border-radius: 5px;

  .searchButton {
    flex-basis: 72px;
    display: flex;
    justify-content: center;
    padding-left: 6px;
    align-items: center;
    background-color: $dark-darkBlue;
    cursor: pointer;

    &:active { opacity: 0.8; }
  }

  .searchIcon {
    fill: $white;
    width: 15px;
    height: 15px;
  }

  .searchInput {
    flex-grow: 1;
    color: $white;
    outline: none;
    border: none;
    background-color: $dark-darkBlue;
    padding-right: 20px;
    font-weight: 600;
    color: $white;

    &::placeholder {
      color: $white;
      font-size: 12px;
      font-weight: 600;
    }
  }

  /* LIGHT THEME */
  &.light {
    box-shadow: 0 0 8px $shadow;

    .searchButton { background-color: $white; }

    .searchIcon { fill: $light-veryDarkBlue; }

    .searchInput {
      color: $light-veryDarkBlue;
      background-color: $white;

      &::placeholder { color: $light-veryDarkBlue; }
    }
  }

  @include responsiveMedium {
    height: 56px;
    width: 480px;

    .searchIcon {
      width: 18px;
      height: 18px;
    }

    .searchInput::placeholder { font-size: 14px; }
  }
}