.NoMatch404 {
  height: calc(100svh - var(--desktop-header-height));
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 40px;

  .errorCode {
    font-size: 100px;
    color: var(--color-white);
  }
}