@import 'src/assets/styles/config';

.RegionFilter {
  flex-shrink: 0;
  position: relative;
  font-size: 12px;

  .toggle {
    position: relative;
    z-index: 2;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    height: 56px;
    width: 200px;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: $dark-darkBlue;
    font-weight: 600;
    color: $white;
    cursor: pointer;

    &:hover { background-color: $dark-darkBlueHover; }
  }

  .arrow {
    fill: $white;
    width: 8px;
    height: 8px;
  }

  .optionsWrapper {
    position: absolute;
    z-index: 1;
    left: 0;
    top: calc(100% + 5px);
    display: grid;
    width: 200px;
    padding: 12px 0;
    background-color: $dark-darkBlue;
    border-radius: 5px;
    overflow: hidden;
    list-style: none;
    box-shadow: 0 2px 6px -2px #80808071;

    translate: 0 -40px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
  }

  .option {
    display: block;
    width: 100%;
    padding-inline: 25px;
    border: none;
    text-align: left;
    font-weight: 600;
    color: $white;
    line-height: 24px;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &[data-seleted="true"] {
      background-color: $dark-darkBlueHover;
    }
    &:active { opacity: 0.8; }
  }

  .toggle[aria-expanded="true"] {
    > .arrow {
      transform: scaleY(-1);
    }

    + .optionsWrapper {
      translate: 0 0;
      opacity: 1;
      visibility: visible;
    }
  }

  @include responsiveMedium {
    height: 56px; 
    font-size: 13px;
    margin-left: 20px;

    .toggle { font-size: 14px; }

    .option {
      line-height: 28px;
      letter-spacing: 0.4px;
    }
  }
}