@import '../../assets/styles/config';

.RegionFilter {
  flex-shrink: 0;
  position: relative;
  width: 200px;
  font-size: 12px;
  font-weight: 600;
  height: 48px;

  .toggleFilter {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $dark-darkBlue;
    padding-left: 25px;
    padding-right: 20px;
    border-radius: 5px;
    color: $white;
    cursor: pointer;

    &:hover { background-color: $dark-darkBlueHover; }
  }

  .arrow,
  .arrowReverse {
    fill: $white;
    width: 8px;
    height: 8px;
  }

  .arrowReverse { transform: scaleY(-1); }

  .optionsWrapper {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    margin-top: 5px;
    width: 200px;
    padding: 12px 0;
    background-color: $dark-darkBlue;
    border-radius: 5px;
    overflow: hidden;
    // box-shadow: 0 0 5px $shadow;
  }

  .option {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    list-style: none;
    line-height: 24px;
    color: $white;
    cursor: pointer;

    &.selected,
    &:hover { background-color: $dark-darkBlueHover; }
    
    &:active { opacity: 0.8; }
  }

  /* LIGHT THEME */
  &.light {
    box-shadow: 0 0 8px $shadow;

    .toggleFilter {
      color: $light-veryDarkBlue;
      background-color: $white;

      &:hover { background-color: $shadow; }
    }

    .arrow,
    .arrowReverse { fill: $light-darkGray; }

    .optionsWrapper {
      background-color: $white;
      box-shadow: 0 0 5px $shadow;
    }

    .option {
      color: $light-veryDarkBlue;

      &.selected,
      &:hover { background-color: $shadow; }
    }
  }

  @include responsiveMedium {
    height: 56px; 
    font-size: 13px;
    margin-left: 20px;

    .toggleFilter { font-size: 14px; }

    .option {
      line-height: 28px;
      letter-spacing: 0.4px;
    }
  }
}