@use '/src/style/utils/mixins' as mixins;

.noMatch {
  display: grid;
  place-items: center;
  block-size: 400px;
  font-size: 24px;
  font-weight: 600;
}

.paginationAtions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  column-gap: 16px;

  @include mixins.minTablet {
    gap: 32px;
  }

  @include mixins.minDesktop {
    gap: 74px;
  }
}

.buttonsWrapper {
  grid-column-end: -1;
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
}

.button {
  display: grid;
  place-items: center;
  font-size: 17px;
  font-weight: 600;
  height: 48px;
  padding-inline: 40px;
  border-radius: 5px;
  border: 0;
  color: var(--color-white);
  background-color: var(--color-blue-dark);
  text-transform: capitalize;
  cursor: pointer;
}