@import 'src/assets/styles/config';

.CountryFilters {

  & > :first-child { margin-bottom: 20px; }

  @include responsiveMedium {
    display: flex;
    justify-content: space-between;

    & > :first-child { margin-bottom: 0; }
  }
}