@use '/src/style/utils/mixins' as mixins;

.CountriesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
  gap: 40px;
  padding-inline: 40px;
  list-style: none;

  @include mixins.minTablet {
    padding-inline: 0;
  }

  @include mixins.minDesktop {
    gap: 74px;
  }
}