@import '../../assets//styles/config';

.BorderCountryButton {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 96px;
  width: fit-content;
  line-height: 28px;
  font-size: 12px;
  font-weight: 600;
  color: $white;
  text-align: center;
  letter-spacing: 0.4px;
  background-color: $dark-darkBlue;
  border-radius: 3px;

  &:hover { background-color: $dark-darkBlueHover; }

  &:active {
    transform: scale(0.96);
    opacity: 0.8;
  }

  /* LIGHT THEME */
  &.light {
    color: $light-veryDarkBlue;
    background-color: $white;
    box-shadow: 0 0 5px $shadow;

    &:hover { background-color: $white; }
  }
}