@import '../../../assets/styles/config';

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

.button {
  font-size: 17px;
  font-weight: 600;
  height: 48px;
  padding-inline: 40px;
  border-radius: 5px;
  border: 0;
  color: $white;
  background-color: $dark-darkBlue;
  text-transform: capitalize;
  cursor: pointer;
}