@use '/src/style/utils/mixins' as mixins;

.Header {
  background-color: var(--color-blue-dark);

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--desktop-header-height);
    padding-top: 2px;
    padding-inline: 0 1px;
  }

  .mainTitle {
    font-size: 14px;
    font-weight: 700;
    word-spacing: 0.3px;
    color: var(--color-white);
  }

  .buttonWapper {
    margin-top: 1px;
  }

  @include mixins.minTablet {
    .headerWrapper {
      padding-top: 0;
      padding-inline: 1px 1px;
    }

    .mainTitle {
      margin-top: 0;
      font-size: 24px;
    }

    .buttonWapper {
      margin-top: 0;
    }
  }
}