@mixin loading {
  background-color: #999999;
  animation: hint-loading 2s ease-in-out 0s infinite reverse;
}

@keyframes hint-loading {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

.SuspenseCountryCard {
  inline-size: 264px;
  min-block-size: 336px;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--color-blue-dark);

  .flagImage {
    inline-size: 100%;
    aspect-ratio: 264 / 160;
    @include loading;
  }

  .summary {
    display: grid;
    row-gap: 18px;
    padding: 25px;
  }

  .name {
    width: 80%;
    height: 19.55px;
    @include loading;
  }

  .info {
    display: grid;
    row-gap: 7.4px;
  }

  .label {
    width: 60%;
    height: 16.1px;
    @include loading;
  }
}