@use '/src/style/utils/mixins' as mixins;

.Detail {
  display: grid;
  row-gap: 43px;

  .flagImage {
    aspect-ratio: 560 / 401;
    inline-size: 100%;
    max-inline-size: 100%;
    object-fit: contain;
    object-position: center top;
    user-select: none;
  }

  .countryInfo {
    display: grid;
    align-content: start;
    row-gap: 28px;
  }

  .countryName {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.2px;
  }

  .dataWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: start;
    gap: 48px;
  }

  .data {
    display: grid;
    row-gap: 16px;
  }

  .label {
    font-weight: 500;
    margin-right: 4px;
    text-transform: capitalize;
  }

  .borders {
    display: grid;
    row-gap: 18px;
    margin-top: 14px;
  }

  .borderSubtitle {
    font-size: 16px;
    font-weight: 500;
  }

  .borderCountries {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    margin: 0 -5px;
    padding: 0;
    list-style: none;

    & > * {
      margin-left: 5px; 
      margin-right: 5px;
    }
  }

  @include mixins.minTablet {
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    
    .countryInfo {
      padding-top: 43px;
      row-gap: 33px;
    }

    .countryName {
      font-size: 32px;
    }

    .dataWrapper {
      font-size: 16px;
    }

    .data {
      row-gap: 14px;
    }
  }

  @include mixins.minDesktop {
    // grid-template-columns: min(45%, 560px) 1fr;
    grid-template-columns: min(45%, 560px) minmax(30%, 576px);
    column-gap: 80px;
    justify-content: space-between;

    .dataWrapper {
      column-gap: 72px;
    }

    .borders {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      column-gap: 17px;
      margin-top: 40px;
    }
  }
}