@import '../../assets/styles/config';

.Home {
  height: calc(100vh - #{$headerHeight});
  padding-top: 24px;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .searchWrapper { margin-bottom: 20px; }

  /* LIGHT THEME */
  &.light { background-color: $light-lightGray; }

  @include responsiveMedium {
    padding-top: 40px;

    .searchWrapper { margin-bottom: 40px; }
  }
}