@use '/src/style/utils//mixins' as mixins;

.ToggleThemeButton {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 10px;
  padding: 0;
  border: none;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-white);
  background-color: transparent;
  cursor: pointer;
  
  .icon {
    width: 12px;
    fill: var(--color-white);;
  }

  .text {
    margin-top: 1px;
  }

  @include mixins.minTablet {
    font-size: 16px;
    
    .icon {
      width: 16px;
    }

    .text {
      margin-top: 0;
    }
  }

  /* LIGHT MODE */
  // &.light {
  //   color: $light-veryDarkBlue;
  //   .icon { fill: $light-veryDarkBlue; }
  // }
}