@import '../../assets/styles/config';

.Home {
  // height: calc(100vh - #{$headerHeight});
  // min-height: calc(100vh - #{$headerHeight});
  min-block-size: 100svh;
  padding-block: 24px;

  .content {
    display: grid;
    row-gap: 20px;
  }

  /* LIGHT THEME */
  // &.light { background-color: $light-lightGray; } 

  @include responsiveMedium {
    padding-block: 48px;
    
    .content {
      row-gap: 48px;
    }
  }
}